div {
  background-color: aqua;
  color: black;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

p {
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
